.container{}
.title{}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
}
}
.form{
    margin: 0 50px;
}
.inputBlock{}
.inputCalc{
    padding: 5px;
    font-size: 20px;
    color: #e68d17;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px black;
    outline: none;
}
.inputCalc:focus{
    box-shadow: 0 0 10px 4px #e7890b;
    border: 0;
}
.result{
    margin-top: 1.33em;
    padding: 40px 10px;
    background-color: #e7890b;
    border-radius: 10px;
    box-shadow: 1px 3px 9px 1px black;
}
.list{
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    @media only screen and (max-width: 650px) {
        font-size: 18px;
    }
}
li{
    color: black;
    padding-bottom: 20px;
}