.container{
  display: flex;
}
.options{
  width: 30%;
  ul{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }
}
.objectsWrapper{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.card{
  max-width: 300px;
  margin: 20px;
}
.cardBody{
  text-align: left;
}