.container{
  text-align: left;
  }
.head{
margin-top: 20px;
  display: flex;
}
.carousel{
  width: 70%;
}
.contacts{
  margin-left: 20px;

  ul{
    padding-top: 20px;
    list-style-type: none;
  }
}
.info{
  margin: 20px 0;
}
