.container{
  text-align: left;
  }
.head{
margin-top: 20px;
  display: flex;
}
.checkbox{
  text-align: left;
}
.carousel{
  width: 70%;
}
.contacts{
  margin-left: 20px;
  ul{
    padding: 20px 0 0;
    list-style-type: none;
  }
}
Button{
  margin: 10px;
}
.info{
  margin: 20px 0;
}
input {
  margin: .4rem;
}