.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 992px) {
    }

    @media only screen and (max-width: 600px) {
        display: none;
    }
}
.navigationBox {
}
.imgBack {
    height: 100px;
}