.container {
    width: 100%;
    min-height: 77px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    position: fixed;
}
.imgBack {
    height: 60px;
}
.burger{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 4;
    @media only screen and (min-width: 650px) {
        display: none;
    }
}
.lines{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #FFFFFF;
        top: -15px;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #FFFFFF;
        top: 15px;
    }
}
