.toolsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}
.card{
    position: relative;
    width: 300px;
    height: 150px;
    margin-bottom: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.logo{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

